{%- set name = metadata.model.name -%}
{%- set s_name = metadata.model.snake_name -%}
{%- set router = s_name + "_router" -%}

from fastapi import APIRouter
from ..crud.{{ s_name }}_crud import *

{{ router }} = APIRouter(
    prefix="/{{ s_name }}",
    tags=["{{ name }}"])

{% for route in metadata.routes %}
{{ router }}.add_api_route(
        path="{{ route.url }}",
        endpoint={{ route.name }},
        methods=["{{ route.methods }}"],
        tags=["{{ name }}"],
    )
{% endfor %}